body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 906px;
    font-size: 18px;
}

#Header {
    text-align: center;
    background: #ebebeb;
    background-color: #eee;
    padding: 20px;
    margin-left: 33.3%;
    width: 960px;
}

#Nav {
    text-align: center;
    background: #ebebeb;
    background-color: #eee;
    padding: 20px;
    margin-top: 10px;
    margin-left: 33.3%;
    width: 960px;
}